.consultation-card {
    grid-area: consultation-card;
    padding: 2.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3.5rem;
    width: 100%;
    background-color: var(--clr-contact-form-bg);
    background-image: linear-gradient(var(--clr-SpWhite), var(--clr-SpWhite));

    .btn-primary {
        padding-block: 1em;
        border-radius: .5em;
        color: $White;
        margin-top: 3rem;
        font-size: 1rem;

        @include desktop {
            margin-top: 10rem;
        }
    }

    @include desktop {
        padding: 4.5rem;
        margin-bottom: 0;
    }
}

.form-consultation {

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .form-group {

        .form-input {
            border-radius: .5em;
            padding: .75em;
            margin-top: .2rem;
        }

        option {
            font-size: 1rem;
        }
    }

    label {
        display: block;
    }
}