.nav-links {
    display: none;
    
    @include desktop {
        display: contents;
    }

    .features{
        grid-area: features;
    }

    .contact{
        grid-area: contact;
        width: fit-content;
    }

    .sign-in {
        grid-area: nav-sign-in;
    }
}